.post-container {
    width:50%;
	height:40%;
	margin:0.1vw;
	padding-left: 1vw;
	padding-top: 0.5vw;
	box-sizing: border-box;

    background: rgb(63, 5, 188);
	border-style: solid;
	border-color: rgb(106, 108, 249);
	border-radius: 25px;
	box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); 

	display: block;
	margin-left: auto;
	margin-right: auto;

	cursor: pointer;
}

.post-container #title {
 -webkit-text-fill-color: aliceblue;
 font-size: 2vw;
 font-family: Poppins;
 margin: 0.1vw;
}

.post-container #content {
	-webkit-text-fill-color: rgb(209, 209, 209);
	font-size: 1vw;
	font-family: Poppins;
	margin: 0.1vw;
}