/* Common styles */

body {
	background-image: 
	  radial-gradient(2px 2px at 20px 30px, rgb(192, 158, 232), rgba(0, 0, 0, 0)),
	  radial-gradient(2px 2px at 40px 70px, rgb(192, 158, 232), rgba(0,0,0,0)),
	  radial-gradient(2px 2px at 50px 160px, rgb(192, 158, 232), rgba(0,0,0,0)),
	  radial-gradient(2px 2px at 90px 40px, rgb(192, 158, 232), rgba(0,0,0,0)),
	  radial-gradient(2px 2px at 130px 80px, rgb(192, 158, 232), rgba(0,0,0,0)),
	  radial-gradient(2px 2px at 160px 120px, rgb(192, 158, 232), rgb(82, 82, 138));
	background-repeat: repeat;
	background-size: 200px 200px;
	overflow-x: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  }

.title {
	-webkit-text-fill-color: aliceblue;
	font-family: Poppins;
	font-size: 4vw;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.subtext {
	-webkit-text-fill-color: rgb(209, 209, 209);
	font-family: Poppins;
	font-size: 1vw;
}

.content {
	-webkit-text-fill-color: aliceblue;
	font-family: Poppins;
	font-size: 1.5vw;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 0.1svw;
}

a {
	-webkit-text-fill-color: rgb(192, 158, 232);
}

.image1 {
	height: 5%;
	width: 5%;
	border-radius: 550px;
	box-shadow: 4px 4px 12px rgba(0,0,0,0.2);
}

.image2 {
	height: 30vw;
	border-radius: 12px;
	box-shadow: 4px 4px 12px rgba(0,0,0,0.2);
	object-fit: contain;
}

.image3 {
	height: 30vw;
	border-radius: 15px;
	box-shadow: 4px 4px 12px rgba(0,0,0,0.2);
	object-fit: contain;
	margin-left: 10vw;
}

.image4 {
	align-items: center;
	width: 15vw;

	margin-top: 1vw;
	object-fit: contain;
}

.image5 {
	width: 40vw;
	margin-left: 1vw;
	margin-right: 1vw;
	margin-top: 3vw;
	border-radius: 12px;
	box-shadow: 4px 4px 12px rgba(0,0,0,0.2);
	object-fit: contain;
}

.divider1 {
	margin-top: 3svw;
	margin-bottom: 3svw;
	border-color: rgb(228, 211, 246);
	border-style: solid;
	width: 95%;
}

.links a {
	display: inline-block;
	margin-top: 0.5vw
}

/* Top navbar styles */

#header:before {
	background-color: rgb(163, 105, 220);
}

.navbar {
	width: 100%;
	background-color: rgb(140, 74, 255);
	padding: 0.2vw;
	box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); 
}

.navbar a {
	font-family: Monospace;
	font-size: 2vw;
	-webkit-text-fill-color: aliceblue;
	border-style: solid;
	border-width: 0 0.1vw 0 0 ;
	border-color: rgb(93, 0, 255);
	padding-right: 1vw;
	padding-left: 1vw;
}

.navbar a.active {
	background-color: rgb(150, 90, 255);
	-webkit-text-fill-color: rgb(255, 255, 255);
}

.navbar a:hover {
	-webkit-text-fill-color: rgb(255, 255, 255);
	background-color: rgb(150, 90, 255);
}

/* Post container styles */

.post-container {
    width:50%;
	margin:0.1vw;
	padding-left: 1vw;
	padding-top: 0.5vw;
	box-sizing: border-box;

    background: rgb(63, 5, 188);
	border-style: solid;
	border-color: rgb(106, 108, 249);
	border-radius: 1vw;
	box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); 

	display: block;
	margin-left: auto;
	margin-right: auto;

	cursor: pointer;
}

.post-container #title {
	-webkit-text-fill-color: aliceblue;
	font-size: 2vw;
	font-family: Poppins;
 	margin: 0.1vw;
}

.post-container #content {
	-webkit-text-fill-color: rgb(209, 209, 209);
	font-size: 1vw;
	font-family: Poppins;
	margin: 0.1vw;
}


.post-category {
	-webkit-text-fill-color: rgb(209, 209, 209);
	font-family: Poppins;
	font-size: 2vw;

    width:50%;
	margin:0.1vw;
	box-sizing: border-box;

	display: block;
	margin-left: auto;
	margin-right: auto;

	cursor: pointer;
}


.divider2 {
	margin-bottom: 1.5svw;
	border-color: rgb(209, 209, 209);
	border-style: solid;
	width: 55%;
}
